* {
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

header {
    color: yellow;
    display: flex;
    padding-left: 25px;
    justify-content: left;
    align-items: center;
    margin: 15px;
    width: 970px;
    height: 80px;
    background-color: salmon;
}

#nav-menu {
    padding: 10px;
    margin: 15px;
    background-color: slateblue;
    display: inline-block;
}

#main-content {
    color: navy;
    padding-left: 10px;
    margin: 15px;
    vertical-align: top;
    background-color: seagreen;
    width: 560px;
    display: inline-block;
}

body {
    background-color: wheat;
}

span {
    color: whitesmoke
}

footer {
    margin: 15px;
    padding: 10px;
    background-color: thistle;
    width: 970px;
}

#footer-link {
    display: inline-block;
}